{% extends "nav_bar.html" %}
{% block nav_bar %}

<h1>Share a Slang </h1><br>

  <div class="row">
    <form class="col s12" method="POST" action="">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Slang</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Meaning of Slang</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Language make this drop down</label>
        </div>
      </div>
    </form>
  </div>

{% endblock %}