{% extends "nav_bar.html" %}
{% block nav_bar %}

<h1>Share a Slang </h1><br>
    
  <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('add_slang') }}">
      <!--Word-->
      <div class="row">
        <div class="input-field col s12">
          <input id="words_name" name="words_name" class="materialize-textarea validate" type="text" required></input>
          <label for="words_name">Slang</label>
        </div>
      </div>
      <!--Meaning-->
      <div class="row">
        <div class="input-field col s12">
          <input id="meaning" name="meaning" class="materialize-textarea validate" type="text" required></input>
          <label for="textarea1">Meaning of Slang</label>
        </div>
      </div>
      <!--Language category-->
      <div class="row">
        <div class="input-field col s12">
            <select id="language_category" name="language_category" type="text" class="validate" required>
            <option value="" disabled selected></option>
            {% for category in categories %}
            <option value="{{ category.language_category }}">{{ category.language_category }}</option>
            {% endfor %}
            </select>
            <label for="language_category">Language</label>
        </div>
      </div>
      
        <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large waves-effect waves-light orange">
                        Submit<i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
    </form>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('select').formSelect();
    });
  </script>

{% endblock %}