{% extends "nav_bar.html" %}
{% block nav_bar %}

<h1>Share a Slang </h1><br>

  <div class="row">
    <form class="col s12" method="POST" action="">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Slang</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Meaning of Slang</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <select id="language_category" name="language_category" class="validate" required>
            <option value="" disabled selected></option>
            {% for category in categories %}
            <option value="{{ category.language_category }}">{{ category.language_category }}</option>
            {% endfor %}
            </select>
            <label for="language_category">Language</label>
        </div>
      </div>
    </form>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('select').formSelect();
    });
  </script>

{% endblock %}