
{% extends "nav_bar.html" %}
{% block nav_bar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>


    <div style="background-image: url(landing_page.jpeg);">
       <img src="{{ url_for('static', filename='media/landing_page.jpeg')}}" style="width: 100%; max-height: 100%" alt=""> 
    </div>

    <div class="section no-pad-bot homepage_image" id="index-banner">
        <div class="container" style="background-image: url(landing_page.jpeg);">
        <br><br>
        <h1 class="header center orange-text">So... What's 'Rojak'?</h1>
        <div class="row center">
            <h5 class="header col s12 light">'Rojak' is a Malaysian mixed fruit and vegetable salad, that is enjoyed by all races and ethinicities in Malaysia. Keyword: Mixed. It is also used on a colloquial basis to mean a multi-linguistic fashion of speaking. The picture above concisely sets an example on a sentence that is 'rojak'. This website serves as an open source anyone-can-edit dictionary of 'rojak'-applicable slangs commonly used in Malaysia.</h5>
        </div>
        <div class="row center">
            <a href="" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
        <br><br>

        </div>
    </div>    
    
    Homepage    
    <a href="{{ url_for('get_words') }}">link to dictionary</a>
</body>
</html>
{% endblock %}



